body {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: black;
}

h2.intro {
  color:rgb(183, 219, 250);
  font-style: italic;
}
h1 {
  color: white;
}
p.intro {
  color: yellow;
  text-align: center;
}
p {
  color: yellow;
}
img.intro {
  display: block;
  margin: auto;
  width: 300px;
  border: 1px solid black;
}