body {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: black;
}

.intro {
  color: yellow;
  text-align: center;
  font-style: italic;
}

.header {
  color: white;
  text-align: left;
}

.biggerheader {
  color: lightblue;
}

img {
  display: block;
  margin: auto;
  width: 300px;
  border: 1px solid black;
}

/* jQuery */
.p-class {
  border: 1px solid white;
  background-color: purple;
  color:rgb(239, 255, 96)
}